@font-face {
    font-family: 'PT Sans';
    src: url('@/app/fonts/PTSansBold.woff2') format('woff2'),
        url('@/app/fonts/PTSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('@/app/fonts/PTSansRegular.woff2') format('woff2'),
        url('@/app/fonts/PTSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Regular Cyr';
    src: url('@/app/fonts/PTSansRegularCyr.woff2') format('woff2'),
        url('@/app/fonts/PTSansRegularCyr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Bold Cyr';
    src: url('@/app/fonts/PTSansBoldCyr.woff2') format('woff2'),
        url('@/app/fonts/PTSansBoldCyr.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}