* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    appearance: none;
}

button {
    background: none;
    cursor: pointer;
    font-family: PT Sans, sans-serif;
}

input,
select {
    border: 0;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfiled;
    -moz-appearance: textfield;
}

input::-ms-clear {
    display: none;
}

:focus,
:active {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
    outline: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

textarea {
    outline: none;
    border: 0;
    resize: none;
}