@import './reset';
@import './fonts';

body {
    font-family: PT Sans, sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.container-main {
    @extend .container;

    max-width: 1245px;
}