@import './reset';
@import './fonts';
@import './helpers';

body,
textarea,
input {
    font-family: "PT Sans", sans-serif;
}

.container {
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.container-main {
    @extend .container;

    max-width: 1245px;
}

@media (max-width: 550px) {
    .container {
        padding: 0 15px;
    }
}