.edit {
    &__inputs {
        display: flex;
        flex-direction: column;
        row-gap: 35px;
    }

    &__selects {
        display: flex;
        column-gap: 30px;
    }

    &__form_input {
        max-width: 220px;
    }

    &__birthday {
        &>* {
            &:nth-child(n+1) {
                flex-basis: 150px;
            }
        }
    }

    &__year {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__agree {
        margin: 15px 0;
    }
}