.message {
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding: 20px 0;
        min-height: calc(100vh - 500px);
        overflow-y: auto;
    }

    @media (max-width: 576px) {
        &__list {
            min-height: calc(50vh);
        }
    }
}