.upload {
    &__title {
        font-size: 14px;
        margin-bottom: 15px;
    }

    &__content {
        display: flex;
        column-gap: 25px;
    }

    &__label {
        border: 1px dashed hsl(0deg 0% 15% / 100%);
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 120px;

        &_big {
            font-size: 16px;
        }

        &_small {
            font-size: 9px;
            margin: 2px 0 11px;
        }
    }

    &__info {
        font-size: 14px;
        margin-bottom: 15px;

        svg {
            display: inline-block;
            margin-right: 5px;
            margin-bottom: -2px;
        }

        // display: flex;
    }
}