.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;

    &__input:checked + &__icon {
        &::before {
            opacity: 1;
        }
    }

    &__icon {
        border: 1px solid #000;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 18px;
        height: 18px;

        &::before {
            border-style: solid;
            border-color: #454545;
            border-width: 0 0 2px 2px;
            content: "";
            position: absolute;
            transform: rotate(-45deg);
            margin-top: -3px;
            transition: 200ms;
            opacity: 0;
            height: 8px;
            width: 8px;
        }
    }
}