.main {
    &__top {
        background-image: url(./../../app//assets//image/rb_top_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        // background-size: cover;
    }

    &__peoples {
        background-color: #f2f4f4;
        padding: 40px 0;

        &_slider {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
    }
}

.registration {
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &_left {
            background-color: #fff;
            width: 100%;
            // max-width: 305px;
            width: 100%;
            max-width: 500px;
        }

        &_right {
            margin-top: 25px;
        }
    }

    &__log {
        background-color: #202020;
        border-radius: 25px;
        box-shadow: 0 3px 6px #a4a4a4, 0 -15px 0 #000 inset;
        display: flex;
        align-items: center;
        column-gap: 15px;
        text-transform: uppercase;
        transition: 200ms;
        padding: 5px 15px;

        &:hover {
            background-color: #454545;
            box-shadow: 0 3px 10px dimgray, 0 -15px 0 #2d2d2d inset;
        }
    }
}

.attraction {
    padding: 40px 0;

    &__list {
        display: flex;
        grid-gap: 20px;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 0 calc(25% - 15px);
        text-align: center;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0 5px;
    }

    &__description {
        font-size: 17.33px;
    }
}

@media (max-width: 1024px) {
    .attraction {
        &__item {
            flex-basis: calc(50% - 10px);
        }
    }
}

@media (max-width: 420px) {
    .attraction {
        &__item {
            flex-basis: 100%;
        }
    }
}