.main {
    &__top {
        background-image: url(./../../app//assets//image/rb_top_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        // background-size: cover;
    }

    &__peoples {
        background-color: #f2f4f4;
        padding: 40px 0;

        &_slider {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
    }
}

.slide {
    position: relative;
    text-align: center;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__img {
        border-radius: 15px;
        // max-width: 210px;
        width: 100%;
        height: 100%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        column-gap: 5px;
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &__button {
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 2px 5px #b4b4b4;
        display: flex;
        column-gap: 5px;
        font-size: 16px;
        padding: 6px 10px;
    }
}

.registration {
    &__field {
        padding: 35px 0;
        margin: 0 auto;
        max-width: 305px;
        width: 100%;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &_left {
            background-color: #fff;
            width: 100%;
            // max-width: 305px;
            width: 100%;
            max-width: 500px;
        }

        &_right {
            margin-top: 25px;
        }
    }

    &__log {
        background-color: #202020;
        border-radius: 25px;
        box-shadow: 0 3px 6px #a4a4a4, 0 -15px 0 #000 inset;
        display: flex;
        align-items: center;
        column-gap: 15px;
        text-transform: uppercase;
        transition: 200ms;
        padding: 5px 15px;

        &:hover {
            background-color: #454545;
            box-shadow: 0 3px 10px dimgray, 0 -15px 0 #2d2d2d inset;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__social {
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 14.67px;
        font-weight: bold;
        padding: 2px 30px;
    }
}

.attraction {
    padding: 40px 0;

    &__list {
        display: flex;
        grid-gap: 20px;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 0 calc(25% - 15px);
        text-align: center;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0 5px;
    }

    &__description {
        font-size: 17.33px;
    }
}

@media (max-width: 1024px) {
    .attraction {
        &__item {
            flex-basis: calc(50% - 10px);
        }
    }
}

@media (max-width: 420px) {
    .attraction {
        &__item {
            flex-basis: 100%;
        }
    }
}