.profile {
    &__info {
        margin-bottom: 105px;
    }

    &__album {
        margin-bottom: 30px;
    }

    &__description {
        max-width: calc(100% - 115px);
    }

    @media (max-width: 650px) {
        &__description {
            max-width: 100%;
        }
    }
}