.switch {
    display: flex;

    &__like {
        &_content {
            color: #9d9d9d;
            cursor: pointer;
            display: inline-block;
            padding: 15px;
            position: relative;
            transition: 200ms;

            &::after {
                background: linear-gradient(to left, transparent, #afafaf 50%, transparent);
                content: "";
                position: absolute;
                bottom: 0;
                transition: 200ms;
                opacity: 0;
                width: 100%;
                height: 1px;
            }

            &:hover {
                color: #252525;
            }
        }

        input:checked+&_content {
            color: #252525;

            &::after {
                opacity: 1;
            }
        }

        &_counter {
            position: absolute;
            top: 9px;
            right: 9px;
        }
    }

    @media (min-width: 600px) {
        &__mobile_no-active {
            display: none;
        }
    }

    @media (max-width: 600px) {
        justify-content: space-between;

        &__like {
            &_content {
                padding: 0;
            }

            input:checked+&_content {
                .switch__detail {
                    display: block;
                }

                .switch__mobile_no-active {
                    display: none;
                }
            }

            &_counter {
                transform: translate(50%, -25%);
                top: 0;
                right: 0;
            }
        }

        &__detail {
            display: none;
        }

        &__mobile_no-active {
            display: flex;
        }
    }
}