.button {
    background-color: #eb2f3f;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 3px 6px #efa5a8, inset 0 -15px 0 #d82836;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 50px auto 0;
    padding: 5px 17.5px;
    transition: 200ms;

    &:hover {
        background-color: #fb4a58;
        box-shadow: 0 3px 10px #ef6064, 0 -15px 0 #f42c3b inset;
    }
}