.profile-info {
    &__top {
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    &__short-info {
        display: flex;
        align-items: flex-start;

        .profile-info__short-info_title {
            margin-bottom: 0;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        column-gap: 16px;

        &_left {
            position: relative;
        }
    }

    &__avatar {
        border-radius: 10px;
        box-shadow: 0 0 4px -1px rgba(37, 37, 37, .5);
        width: 100%;
        max-width: 333px;
        height: 100%;
        max-height: 333px;
    }

    &__application {
        display: flex;
        column-gap: 6px;
        position: absolute;
        right: 13px;
        bottom: 0;
        transform: translateY(25%);
    }

    &__button {
        &._like {
            border-radius: 50%;
        }

        &._message {
            border-radius: 5px;
            padding-left: 22px;
            padding-right: 22px;
        }
    }

    @media (max-width: 650px) {
        &__bottom {
            flex-direction: column;
            justify-content: center;
            row-gap: 30px;
        }

        &__application {
            justify-content: center;
            right: initial;
            width: 100%;
        }
    }
}

.user-about {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 4px -1px rgba(37, 37, 37, .5);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 25px;
    max-width: 245px;
    width: 100%;

    &__item {
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-size: 14.4px;
        font-weight: 500;
    }
}