.main {
    background-color: #f6f7fb;
    flex-grow: 1;

    &__container {
        display: flex;
        align-items: flex-start;
        column-gap: 90px;

        &_right {
            flex-grow: 1;
            padding: 40px 25px 20px;
        }
    }

    @media(max-width: 1280px) {
        &__container {
            column-gap: 45px;
        }
    }

    @media (max-width: 650px) {
        &__container {
            &_right {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}