.button {
    background-color: #00b778;
    color: #fff;
    border-radius: 15px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    padding: 5px 30px;
    line-height: 1.25;
    text-align: center;

    &.blue-back {
        background-color: #189be4;
    }
}