.header {
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(37,37,37,.5);
    position: sticky;
    top: 0;
    padding: 5.5px 0;
    width: 100%;
    z-index: 100;

    &__container {
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    &__logo {
        text-align: center;
        width: 260px;
    }

    &__application {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        &_item {
            border-radius: 5px;
            color: #fff;
            display: flex;
            align-items: center;
            column-gap: 10px;
            font-size: 16px;
            padding: 5px 18px;
            font-weight: bold;

            &._search {
                background-color: #ef2b3a;
            }

            &._logout {
                background-color: #252525;
                box-shadow: 0 2px 4px 0 rgba(37, 37, 37, .5);
            }
        }
    }


}